$primary-color: #333 !default;
$sidebar-width: 242px !default;
//@import "active_admin/mixins";
//@import "active_admin/base";

.header {
  @include primary-gradient;
}

.active_admin .action_items{
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.delete_button{
  padding: 0.7rem;
}

.category-item{
  list-style: none;
}

.comment-item{
  list-style: none;
  padding: 1rem;
}

.image-item {
  list-style: none;
  padding: 1rem;
}

.comment-block{
  border: 1px solid #000000;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

ul li a.category-name{
  text-decoration: none;
  color: #2b2b2d;
  font-size: 1.2rem;
  text-transform: uppercase;
}

ul li a.comment{
  text-decoration: none;
  color: #2b2b2d;
  font-size: 1.2rem;
}

ul li a.comment-email{
  text-decoration: none;
  color: #2b2b2d;
  font-size: 0.9rem;
}

.image-grid {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  column-count: 3;
}




