$primary-color: #333 !default;
$sidebar-width: 242px !default;
@import "active_admin/mixins";
@import "active_admin/base";

.header {
  @include primary-gradient;
}

.active_admin .action_items{
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.delete_button{
  padding: 0.7rem;
}