.btn-upload{
  width: 100px;
  height: 40px;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  pointer-events: none;
}

.img-wrapper:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.bi-trash{
  font-size: 20px;
  color: #000;
}

.image-preview{
  max-width: 300px;
  max-height: 400px;
}