.btn-upload{
  width: 100px;
  height: 40px;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  pointer-events: none;
}

.img-wrapper:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.grid{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  column-count: 4;
  column-gap: 1em;
  flex-wrap: wrap;
}

.bi-trash{
  font-size: 20px;
  color: #000;
}

@media(max-width: 1000px){
  .grid{
    column-count: 3;
    flex-wrap: wrap;
  }
}

@media(max-width: 900px){
  .grid{
    column-count: 2;
    flex-wrap: wrap;
  }
}

.image-category{
  max-width: 50%;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 5rem;
  padding-left: 2rem;
  image-rendering: crisp-edges;
  display: block;
}

.block-image{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 30rem;
}

.info-images{
  margin-top: 8rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bi-arrow-left{
  font-size: 30px;
}