.gradient {
  background: #121111;
  background: linear-gradient(150deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71) 100%);
}

.describe-site{
  text-align: center;
}

.card-category:nth-child(odd){
  background-color: #ffffff;
}

.card-category:nth-child(even){
  background-color: #fafafa;
}

.bi-list{
  font-size: 30px;
  color: #ffffff;
}

