.info-images{
  margin-top: 8rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-category{
  max-width: 97%;
  margin: 0 auto;
  height: auto;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  image-rendering: crisp-edges;
  display: block;
}

.comment-tag{
  height: 3.5rem;
  width: 90%;
  margin-left: 3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.icon-button{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #1d1d1d;
  color: white;
  cursor: pointer;
  padding: 0;
}

.icon-button i{
  font-size: 50px;
}

.images{
  max-width: 400px;
  max-height: 500px;
}

.block-image{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 30rem;
}

.bi-arrow-left{
  font-size: 30px;
}

@media screen and  (max-width: 800px){
  .image-home{
    max-width: 350px;
    max-height: 450px;
  }

  .masonry-container {
    display: block;
    max-width: 1000px;
    margin-left: 3rem;
  }
}

@media screen and  (max-width: 775px){
  .image-home{
    max-width: 300px;
    max-height: 400px;
  }

  .masonry-container {
    display: block;
    max-width: 1000px;
    margin-left: 2.5rem;
  }
}

@media screen and  (max-width: 603px){
  .image-home{
    max-width: 250px;
    max-height: 350px;
  }
  .masonry-container {
    display: block;
    max-width: 1000px;
    margin-left: 2rem;
  }
}

@media screen and  (max-width: 495px){
  .images{
    max-width: 250px;
    max-height: 150px;
  }

  .masonry-container {
    display: block;
    max-width: 1000px;
    margin-left: 1.7rem;
  }

  .comment-tag{
    height: 3.5rem;
    width: 80%;
    margin-left: 3rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .image-home{
    max-width: 150px;
    max-height: 250px;
  }
}

.info-image-object{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.comment-data{
  margin-left: 3rem;
  font-size: 0.8rem;
}

.login-user{
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}