= render "categories/navbar"
.container.d-flex.justify-content-between.mt-4.align-items-center.mb-5
  %p My category
  %button.btn.btn-dark.p-2{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
    + Create category
  / Modal
  #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h1#exampleModalLabel.modal-title.fs-5 Create category
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
        .modal-body
          =render "categories/new", category: Category.new
.container.d-flex.gap-5.flex-wrap
  -@categories.each do |category|
    =link_to category_path(category), class: "text-decoration-none text-black" do
      .img-wrapper
        =preview_category(category)
      %p.h5.text-dark= category.category_name