%p= t('.topic-message', name: @resource.email)
%p= t('.message')
=link_to edit_user_password_url(@resource, reset_password_token: @token) do
  =t('.reset_password_token')
%p= t('.extra-info')
%p= t('.extra-info-second')
